## Satisfaction à l'égard de la vie et PIB par habitant

Satisfaction de la vie

# La source
Cet ensemble de données a été obtenu sur le site Web de l'OCDE à l'adresse: http://stats.oecd.org/index.aspx?DataSetCode=BLI

# Description des données

Int64Index: 3292 entries, 0 to 3291
Data columns (total 17 columns):
﻿"LOCATION"              3292 non-null object
Country                  3292 non-null object
INDICATOR                3292 non-null object
Indicator                3292 non-null object
MEASURE                  3292 non-null object
Measure                  3292 non-null object
INEQUALITY               3292 non-null object
Inequality               3292 non-null object
Unit Code                3292 non-null object
Unit                     3292 non-null object
PowerCode Code           3292 non-null int64
PowerCode                3292 non-null object
Reference Period Code    0 non-null float64
Reference Period         0 non-null float64
Value                    3292 non-null float64
Flag Codes               1120 non-null object
Flags                    1120 non-null object
dtypes: float64(3), int64(1), object(13)
memory usage: 462.9+ KB

# Exemple d'utilisation à l'aide de python Pandas

>>> life_sat = pd.read_csv("oecd_bli_2015.csv", thousands=',')

>>> life_sat_total = life_sat[life_sat["INEQUALITY"]=="TOT"]

>>> life_sat_total = life_sat_total.pivot(index="Country", columns="Indicator", values="Value")

>>> life_sat_total.info()
<class 'pandas.core.frame.DataFrame'>
Index: 37 entries, Australia to United States
Data columns (total 24 columns):
Air pollution                                37 non-null float64
Assault rate                                 37 non-null float64
Consultation on rule-making                  37 non-null float64
Dwellings without basic facilities           37 non-null float64
Educational attainment                       37 non-null float64
Employees working very long hours            37 non-null float64
Employment rate                              37 non-null float64
Homicide rate                                37 non-null float64
Household net adjusted disposable income     37 non-null float64
Household net financial wealth               37 non-null float64
Housing expenditure                          37 non-null float64
Job security                                 37 non-null float64
Life expectancy                              37 non-null float64
Life satisfaction                            37 non-null float64
Long-term unemployment rate                  37 non-null float64
Personal earnings                            37 non-null float64
Quality of support network                   37 non-null float64
Rooms per person                             37 non-null float64
Self-reported health                         37 non-null float64
Student skills                               37 non-null float64
Time devoted to leisure and personal care    37 non-null float64
Voter turnout                                37 non-null float64
Water quality                                37 non-null float64
Years in education                           37 non-null float64
dtypes: float64(24)
memory usage: 7.2+ KB

# Objectif 

Le but de cette première partie du travail est de créer une base de données SQL compilant les données par pays de l'indicateur du vivre mieux et du PIB.

Le PIB sera exprimé en € et l'indicateur en unité définies par l'OCDE.

Le but est de
- créer la base de donnée
- extraire et convertir les données souhaités
- alimenter la base de donnée


# Ressource

Ensemble de données obtenu sur le site Web du FMI à: http://goo.gl/j1MSKe

# Description des données

Int64Index: 190 entries, 0 to 189
Data columns (total 7 columns):
Country                          190 non-null object
Subject Descriptor               189 non-null object
Units                            189 non-null object
Scale                            189 non-null object
Country/Series-specific Notes    188 non-null object
2015                             187 non-null float64
Estimates Start After            188 non-null float64
dtypes: float64(2), object(5)
memory usage: 11.9+ KB

# Exemple d'utilisation à l'aide de python Pandas

In [222]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats
import seaborn as sns
import statsmodels.api as sm
from sklearn import linear_model

!pip install pays
from pays import Countries

pd.set_option('display.max_columns', 1000)
pd.set_option('display.max_rows', 1000)
pd.options.display.max_rows = 9999999

Requirement already satisfied: pays in c:\users\utilisateur\anaconda3\lib\site-packages (0.2.3)

In [223]:
df = pd.read_csv("BLI_24022020153204055.csv", index_col=None, na_values=['NA'])
df.head()

,LOCATION,Country,INDICATOR,Indicator,MEASURE,Measure,INEQUALITY,Inequality,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,5.4,NaN,NaN
1,AUT,Austria,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,3.5,NaN,NaN
2,BEL,Belgium,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,3.7,NaN,NaN
3,CAN,Canada,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,6.0,NaN,NaN
4,CZE,Czech Republic,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,3.1,NaN,NaN

In [224]:
df = df[df['INEQUALITY'] == "TOT"]
df = df.pivot(index="Country", columns="Indicator", values="Value")
df.head(5)

Indicator,Air pollution,Dwellings without basic facilities,Educational attainment,Employees working very long hours,Employment rate,Feeling safe walking alone at night,Homicide rate,Household net adjusted disposable income,Household net wealth,Housing expenditure,Labour market insecurity,Life expectancy,Life satisfaction,Long-term unemployment rate,Personal earnings,Quality of support network,Rooms per person,Self-reported health,Stakeholder engagement for developing regulations,Student skills,Time devoted to leisure and personal care,Voter turnout,Water quality,Years in education
Country,,,,,,,,,,,,,,,,,,,,,,,,
Australia,5.0,NaN,81.0,13.04,73.0,63.5,1.1,32759.0,427064.0,20.0,5.4,82.5,7.3,1.31,49126.0,95.0,NaN,85.0,2.7,502.0,14.35,91.0,93.0,21.0
Austria,16.0,0.9,85.0,6.66,72.0,80.6,0.5,33541.0,308325.0,21.0,3.5,81.7,7.1,1.84,50349.0,92.0,1.6,70.0,1.3,492.0,14.55,80.0,92.0,17.0
Belgium,15.0,1.9,77.0,4.75,63.0,70.1,1.0,30364.0,386006.0,21.0,3.7,81.5,6.9,3.54,49675.0,91.0,2.2,74.0,2.0,503.0,15.70,89.0,84.0,19.3
Brazil,10.0,6.7,49.0,7.13,61.0,35.6,26.7,NaN,NaN,NaN,NaN,74.8,6.4,NaN,NaN,90.0,NaN,NaN,2.2,395.0,NaN,79.0,73.0,16.2
Canada,7.0,0.2,91.0,3.69,73.0,82.2,1.3,30854.0,423849.0,22.0,6.0,81.9,7.4,0.77,47622.0,93.0,2.6,88.0,2.9,523.0,14.56,68.0,91.0,17.3

In [225]:
df['Life satisfaction'].head()

Country
Australia    7.3
Austria      7.1
Belgium      6.9
Brazil       6.4
Canada       7.4
Name: Life satisfaction, dtype: float64

In [226]:
df_pib = pd.read_csv("WEO_Data.csv", encoding='latin1', na_values=['NA'])
df_pib .head(3)

,Country,Subject Descriptor,Units,Scale,Country/Series-specific Notes,2015,Estimates Start After,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Afghanistan,Gross domestic product per capita,current prices,U.S. dollars,Units,See notes for: Gross domestic product,current prices (National currency) Population...,599.994,2013.000,NaN
1,Albania,Gross domestic product per capita,current prices,U.S. dollars,Units,See notes for: Gross domestic product,current prices (National currency) Population...,3.000,995.383,2010.0
2,Algeria,Gross domestic product per capita,current prices,U.S. dollars,Units,See notes for: Gross domestic product,current prices (National currency) Population...,4.000,318.135,2014.0

In [227]:
df_pib.rename(columns={"Unnamed: 7": "GDP per Capita"}, inplace=True)
df_pib.set_index("Country", inplace=True)
df_pib.head(3)

,Subject Descriptor,Units,Scale,Country/Series-specific Notes,2015,Estimates Start After,GDP per Capita,Unnamed: 8,Unnamed: 9
Country,,,,,,,,,
Afghanistan,Gross domestic product per capita,current prices,U.S. dollars,Units,See notes for: Gross domestic product,current prices (National currency) Population...,599.994,2013.000,NaN
Albania,Gross domestic product per capita,current prices,U.S. dollars,Units,See notes for: Gross domestic product,current prices (National currency) Population...,3.000,995.383,2010.0
Algeria,Gross domestic product per capita,current prices,U.S. dollars,Units,See notes for: Gross domestic product,current prices (National currency) Population...,4.000,318.135,2014.0

In [228]:
del df_pib['Unnamed: 8']
df_pib.head(3)

,Subject Descriptor,Units,Scale,Country/Series-specific Notes,2015,Estimates Start After,GDP per Capita,Unnamed: 9
Country,,,,,,,,
Afghanistan,Gross domestic product per capita,current prices,U.S. dollars,Units,See notes for: Gross domestic product,current prices (National currency) Population...,599.994,NaN
Albania,Gross domestic product per capita,current prices,U.S. dollars,Units,See notes for: Gross domestic product,current prices (National currency) Population...,3.000,2010.0
Algeria,Gross domestic product per capita,current prices,U.S. dollars,Units,See notes for: Gross domestic product,current prices (National currency) Population...,4.000,2014.0

In [229]:
del df_pib['Unnamed: 9']
df_pib.head(3)

,Subject Descriptor,Units,Scale,Country/Series-specific Notes,2015,Estimates Start After,GDP per Capita
Country,,,,,,,
Afghanistan,Gross domestic product per capita,current prices,U.S. dollars,Units,See notes for: Gross domestic product,current prices (National currency) Population...,599.994
Albania,Gross domestic product per capita,current prices,U.S. dollars,Units,See notes for: Gross domestic product,current prices (National currency) Population...,3.000
Algeria,Gross domestic product per capita,current prices,U.S. dollars,Units,See notes for: Gross domestic product,current prices (National currency) Population...,4.000

In [230]:
df_pib['GDP per Capita'].astype('float', inplace =True)

Country
Afghanistan                           599.994
Albania                                 3.000
Algeria                                 4.000
Angola                                  4.000
Antigua and Barbuda                    14.000
Argentina                              13.000
Armenia                                 3.000
Australia                              50.000
Austria                                43.000
Azerbaijan                              5.000
The Bahamas                            23.000
Bahrain                                23.000
Bangladesh                              1.000
Barbados                               15.000
Belarus                                 5.000
Belgium                                40.000
Belize                                  4.000
Benin                                 780.063
Bhutan                                  2.000
Bolivia                                 2.000
Bosnia and Herzegovina                  4.000
Botswana                                6.000
Brazil                                  8.000
Brunei Darussalam                      28.000
Bulgaria                                6.000
Burkina Faso                          614.500
Burundi                               305.783
Cabo Verde                              3.000
Cambodia                                1.000
Cameroon                                1.000
Canada                                 43.000
Central African Republic              334.870
Chad                                  941.903
Chile                                  13.000
China                                   7.000
Colombia                                6.000
Comoros                               736.348
Democratic Republic of the Congo      475.916
Republic of Congo                       2.000
Costa Rica                             10.000
Cï¿½te d'Ivoire                         1.000
Croatia                                11.000
Cyprus                                 22.000
Czech Republic                         17.000
Denmark                                52.000
Djibouti                                1.000
Dominica                                7.000
Dominican Republic                      6.000
Ecuador                                 6.000
Egypt                                   3.000
El Salvador                             4.000
Equatorial Guinea                      11.000
Eritrea                               694.753
Estonia                                17.000
Ethiopia                              686.593
Fiji                                    5.000
Finland                                41.000
France                                 37.000
Gabon                                   7.000
The Gambia                            450.859
Georgia                                 3.000
Germany                                40.000
Ghana                                   1.000
Greece                                 18.000
Grenada                                 8.000
Guatemala                               3.000
Guinea                                542.417
Guinea-Bissau                         594.940
Guyana                                  4.000
Haiti                                 804.564
Honduras                                2.000
Hong Kong SAR                          42.000
Hungary                                12.000
Iceland                                50.000
India                                   1.000
Indonesia                               3.000
Islamic Republic of Iran                4.000
Iraq                                    4.000
Ireland                                51.000
Israel                                 35.000
Italy                                  29.000
Jamaica                                 4.000
Japan                                  32.000
Jordan                                  5.000
Kazakhstan                              9.000
Kenya                                   1.000
Kiribati                                1.000
Korea                                  27.000
Kosovo                                    NaN
Kuwait                                 29.000
Kyrgyz Republic                         1.000
Lao P.D.R.                              1.000
Latvia                                 13.000
Lebanon                                11.000
Lesotho                                 1.000
Liberia                               473.636
Libya                                   6.000
Lithuania                              14.000
Luxembourg                            101.000
FYR Macedonia                           4.000
Madagascar                            401.771
Malawi                                354.275
Malaysia                                9.000
Maldives                                8.000
Mali                                  801.844
Malta                               22734.233
Marshall Islands                        3.000
Mauritania                              1.000
Mauritius                               9.000
Mexico                                  9.000
Micronesia                              3.000
Moldova                                 1.000
Mongolia                                3.000
Montenegro                              6.000
Morocco                                 3.000
Mozambique                            534.879
Myanmar                                 1.000
Namibia                                 5.000
Nepal                                 751.120
Netherlands                            43.000
New Zealand                            37.000
Nicaragua                               1.000
Niger                                 405.213
Nigeria                                 2.000
Norway                                 74.000
Oman                                   15.000
Pakistan                                1.000
Palau                                  16.000
Panama                                 13.000
Papua New Guinea                        2.000
Paraguay                                4.000
Peru                                    6.000
Philippines                             2.000
Poland                                 12.000
Portugal                               19.000
Qatar                                  76.000
Romania                                 8.000
Russia                                  9.000
Rwanda                                731.512
Samoa                                   4.000
San Marino                             49.000
Sï¿½o Tomï¿½ and Prï¿½ncipe             1.000
Saudi Arabia                           20.000
Senegal                               913.024
Serbia                                  5.000
Seychelles                             14.000
Sierra Leone                          659.438
Singapore                              52.000
Slovak Republic                        15.000
Slovenia                               20.000
Solomon Islands                         1.000
South Africa                            5.000
South Sudan                           220.860
Spain                                  25.000
Sri Lanka                               3.000
St. Kitts and Nevis                    16.000
St. Lucia                               8.000
St. Vincent and the Grenadines          6.000
Sudan                                   2.000
Suriname                                9.000
Swaziland                               3.000
Sweden                                 49.000
Switzerland                            80.000
Syria                                     NaN
Taiwan Province of China               22.000
Tajikistan                            922.072
Tanzania                              941.804
Thailand                                5.000
Timor-Leste                             2.000
Togo                                  569.435
Tonga                                   3.000
Trinidad and Tobago                    18.000
Tunisia                                 3.000
Turkey                                  9.000
Turkmenistan                            6.000
Tuvalu                                  3.000
Uganda                                620.213
Ukraine                              2125.426
United Arab Emirates                   36.000
United Kingdom                         43.000
United States                          55.000
Uruguay                                15.000
Uzbekistan                              2.000
Vanuatu                                 2.000
Venezuela                               7.000
Vietnam                                 2.000
Yemen                                   1.000
Zambia                                  1.000
Zimbabwe                                1.000
NaN                                       NaN
International Monetary Fund               NaN
Name: GDP per Capita, dtype: float64

In [231]:
full_country_set = pd.merge(left=df, right=df_pib, left_index=True, right_index=True)
full_country_set.sort_values(by="GDP per Capita", inplace=True)
full_country_set.head(3)

,Air pollution,Dwellings without basic facilities,Educational attainment,Employees working very long hours,Employment rate,Feeling safe walking alone at night,Homicide rate,Household net adjusted disposable income,Household net wealth,Housing expenditure,Labour market insecurity,Life expectancy,Life satisfaction,Long-term unemployment rate,Personal earnings,Quality of support network,Rooms per person,Self-reported health,Stakeholder engagement for developing regulations,Student skills,Time devoted to leisure and personal care,Voter turnout,Water quality,Years in education,Subject Descriptor,Units,Scale,Country/Series-specific Notes,2015,Estimates Start After,GDP per Capita
Country,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
South Africa,22.0,37.0,73.0,18.12,43.0,36.1,13.7,NaN,NaN,18.0,NaN,57.5,4.7,16.46,NaN,88.0,NaN,NaN,NaN,NaN,14.92,73.0,67.0,NaN,Gross domestic product per capita,current prices,U.S. dollars,Units,See notes for: Gross domestic product,current prices (National currency) Population...,5.0
Colombia,10.0,23.9,54.0,26.56,67.0,44.4,24.5,NaN,NaN,17.0,NaN,76.2,6.3,0.79,NaN,89.0,1.2,NaN,1.4,410.0,NaN,53.0,75.0,14.1,Gross domestic product per capita,current prices,U.S. dollars,Units,See notes for: Gross domestic product,current prices (National currency) Population...,6.0
Brazil,10.0,6.7,49.0,7.13,61.0,35.6,26.7,NaN,NaN,NaN,NaN,74.8,6.4,NaN,NaN,90.0,NaN,NaN,2.2,395.0,NaN,79.0,73.0,16.2,Gross domestic product per capita,current prices,U.S. dollars,Units,See notes for: Gross domestic product,current prices (National currency) Population...,8.0

## ESSAI

In [232]:
full_country_set[['GDP per Capita', 'Life satisfaction']].loc['France']

GDP per Capita       37.0
Life satisfaction     6.5
Name: France, dtype: float64

In [233]:
full_country_set[['GDP per Capita', 'Life satisfaction']].loc['Mexico']

GDP per Capita       9.0
Life satisfaction    6.5
Name: Mexico, dtype: float64

In [234]:
#remove_indices = [0, 1, 6, 8, 33, 34, 35]
#keep_indices = list(set(range(36)) - set(remove_indices))
sample_data = full_country_set[["GDP per Capita", "Life satisfaction"]]

In [235]:
sample_data.to_csv('life_satisfaction_vs_gdp_per_capita.csv')

In [236]:
sample_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 40 entries, South Africa to Luxembourg
Data columns (total 2 columns):
GDP per Capita       40 non-null float64
Life satisfaction    40 non-null float64
dtypes: float64(2)
memory usage: 2.2+ KB

In [237]:
columns = ["gdp_per_capita", "life_satisfaction"]
sample_data.columns = columns

In [238]:
sample_data

                 gdp_per_capita  life_satisfaction
Country
South Africa                5.0                4.7
Colombia                    6.0                6.3
Brazil                      8.0                6.4
Russia                      9.0                5.8
Turkey                      9.0                5.5
Mexico                      9.0                6.5
Poland                     12.0                6.1
Hungary                    12.0                5.6
Latvia                     13.0                5.9
Chile                      13.0                6.5
Lithuania                  14.0                5.9
Slovak Republic            15.0                6.2
Estonia                    17.0                5.7
Czech Republic             17.0                6.7
Greece                     18.0                5.4
Portugal                   19.0                5.4
Slovenia                   20.0                5.9
Spain                      25.0                6.3
Korea                      27.0                5.9
Italy                      29.0                6.0
Japan                      32.0                5.9
Israel                     35.0                7.2
France                     37.0                6.5
New Zealand                37.0                7.3
Germany                    40.0                7.0
Belgium                    40.0                6.9
Finland                    41.0                7.6
Netherlands                43.0                7.4
Canada                     43.0                7.4
Austria                    43.0                7.1
United Kingdom             43.0                6.8
Sweden                     49.0                7.3
Australia                  50.0                7.3
Iceland                    50.0                7.5
Ireland                    51.0                7.0
Denmark                    52.0                7.6
United States              55.0                6.9
Norway                     74.0                7.6
Switzerland                80.0                7.5
Luxembourg                101.0                6.9

In [239]:
sample_data.gdp_per_capita = sample_data.gdp_per_capita.replace(',', '')
sample_data.gdp_per_capita = sample_data.gdp_per_capita.astype(float)

In [240]:
sample_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 40 entries, South Africa to Luxembourg
Data columns (total 2 columns):
gdp_per_capita       40 non-null float64
life_satisfaction    40 non-null float64
dtypes: float64(2)
memory usage: 2.2+ KB

In [241]:
sample_data['gdp_per_capita'] = sample_data['gdp_per_capita'].div(0.91)

C:\Users\utilisateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [242]:
sample_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 40 entries, South Africa to Luxembourg
Data columns (total 2 columns):
gdp_per_capita       40 non-null float64
life_satisfaction    40 non-null float64
dtypes: float64(2)
memory usage: 2.2+ KB

In [243]:
sample_data.loc['France']

gdp_per_capita       40.659341
life_satisfaction     6.500000
Name: France, dtype: float64

In [244]:
sample_data = sample_data.rename(columns={'gdp_per_capita': 'PIB par habitant en €'})

In [245]:
sample_data = sample_data.rename(columns={'life_satisfaction': 'indicateur du vivre mieux'})

In [246]:
#sample_data.index.name = 'Noms de Pays'

In [247]:
sample_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 40 entries, South Africa to Luxembourg
Data columns (total 2 columns):
PIB par habitant en €        40 non-null float64
indicateur du vivre mieux    40 non-null float64
dtypes: float64(2)
memory usage: 960.0+ bytes

In [248]:
#sample_data = sample_data.pivot(index = 'Country').reset_index(); sample_data.columns.name = None

# Essai de traduction des pays

#Country.Index.str.translate(self, sample_data)

# traduction
#sample_data["Country"]= sample_data["Country"].str.translate(trans_table) 
Index.str.translate(sample_data["Country"])
  
# display 
sample_data

!pip install iso3166
from iso3166 import countries

all_countries = []
for c in Country.index:
    all_countries.append(c.name)
all_countries
unique_countries = []
for name in sample_data.index['Country']:
    if name in all_countries and name not in unique_countries:
        unique_countries.append(name)
len(unique_countries)

for pays in sample_data.index['Country']:
        # skip blanks
        if not line['ISO3166-1-Alpha-2']:
            continue
        if line['ISO3166-1-Alpha-2'] in choices:
            sys.stderr.write('duplicate id: %r!\n' % line['ISO3166-1-Alpha-2'])
            continue
        choices[line['ISO3166-1-Alpha-2']] = {
            'en': line['official_name_en'],
            'fr': line['official_name_fr']}

In [249]:
sample_data = sample_data.reset_index()

In [250]:
sample_data

            Country  PIB par habitant en €  indicateur du vivre mieux
0      South Africa               5.494505                        4.7
1          Colombia               6.593407                        6.3
2            Brazil               8.791209                        6.4
3            Russia               9.890110                        5.8
4            Turkey               9.890110                        5.5
5            Mexico               9.890110                        6.5
6            Poland              13.186813                        6.1
7           Hungary              13.186813                        5.6
8            Latvia              14.285714                        5.9
9             Chile              14.285714                        6.5
10        Lithuania              15.384615                        5.9
11  Slovak Republic              16.483516                        6.2
12          Estonia              18.681319                        5.7
13   Czech Republic              18.681319                        6.7
14           Greece              19.780220                        5.4
15         Portugal              20.879121                        5.4
16         Slovenia              21.978022                        5.9
17            Spain              27.472527                        6.3
18            Korea              29.670330                        5.9
19            Italy              31.868132                        6.0
20            Japan              35.164835                        5.9
21           Israel              38.461538                        7.2
22           France              40.659341                        6.5
23      New Zealand              40.659341                        7.3
24          Germany              43.956044                        7.0
25          Belgium              43.956044                        6.9
26          Finland              45.054945                        7.6
27      Netherlands              47.252747                        7.4
28           Canada              47.252747                        7.4
29          Austria              47.252747                        7.1
30   United Kingdom              47.252747                        6.8
31           Sweden              53.846154                        7.3
32        Australia              54.945055                        7.3
33          Iceland              54.945055                        7.5
34          Ireland              56.043956                        7.0
35          Denmark              57.142857                        7.6
36    United States              60.439560                        6.9
37           Norway              81.318681                        7.6
38      Switzerland              87.912088                        7.5
39       Luxembourg             110.989011                        6.9

In [251]:
# Install librairy
%pip install country-list

Requirement already satisfied: country-list in c:\users\utilisateur\anaconda3\lib\site-packages (0.1.5)
Note: you may need to restart the kernel to use updated packages.

In [252]:
# Import librairy
from country_list import countries_for_language
# All countries in English
countries_en = dict(countries_for_language('en'))
#countries_en

In [253]:
# All countries in French
countries_fr = dict(countries_for_language('fr'))
#countries_fr

In [254]:
countries_en['p1'] = 'Czech Republic' 
countries_en['p2'] = 'Korea'
countries_en['p3'] = 'Slovak Republic' 

countries_fr['p1'] = 'République Tchèque' 
countries_fr['p2'] = 'Corée'
countries_fr['p3'] = 'République Slovaque'

In [255]:
pays = []
for country in sample_data.Country:
    for k,v in countries_en.items():
        if country == v:
            country_key = k
            pays.append(countries_fr[country_key])

In [256]:
pays

['Afrique du Sud',
 'Colombie',
 'Brésil',
 'Russie',
 'Turquie',
 'Mexique',
 'Pologne',
 'Hongrie',
 'Lettonie',
 'Chili',
 'Lituanie',
 'République Slovaque',
 'Estonie',
 'République Tchèque',
 'Grèce',
 'Portugal',
 'Slovénie',
 'Espagne',
 'Corée',
 'Italie',
 'Japon',
 'Israël',
 'France',
 'Nouvelle-Zélande',
 'Allemagne',
 'Belgique',
 'Finlande',
 'Pays-Bas',
 'Canada',
 'Autriche',
 'Royaume-Uni',
 'Suède',
 'Australie',
 'Islande',
 'Irlande',
 'Danemark',
 'États-Unis',
 'Norvège',
 'Suisse',
 'Luxembourg']

In [257]:
sample_data['Country'] = pays

In [258]:
sample_data

                Country  PIB par habitant en €  indicateur du vivre mieux
0        Afrique du Sud               5.494505                        4.7
1              Colombie               6.593407                        6.3
2                Brésil               8.791209                        6.4
3                Russie               9.890110                        5.8
4               Turquie               9.890110                        5.5
5               Mexique               9.890110                        6.5
6               Pologne              13.186813                        6.1
7               Hongrie              13.186813                        5.6
8              Lettonie              14.285714                        5.9
9                 Chili              14.285714                        6.5
10             Lituanie              15.384615                        5.9
11  République Slovaque              16.483516                        6.2
12              Estonie              18.681319                        5.7
13   République Tchèque              18.681319                        6.7
14                Grèce              19.780220                        5.4
15             Portugal              20.879121                        5.4
16             Slovénie              21.978022                        5.9
17              Espagne              27.472527                        6.3
18                Corée              29.670330                        5.9
19               Italie              31.868132                        6.0
20                Japon              35.164835                        5.9
21               Israël              38.461538                        7.2
22               France              40.659341                        6.5
23     Nouvelle-Zélande              40.659341                        7.3
24            Allemagne              43.956044                        7.0
25             Belgique              43.956044                        6.9
26             Finlande              45.054945                        7.6
27             Pays-Bas              47.252747                        7.4
28               Canada              47.252747                        7.4
29             Autriche              47.252747                        7.1
30          Royaume-Uni              47.252747                        6.8
31                Suède              53.846154                        7.3
32            Australie              54.945055                        7.3
33              Islande              54.945055                        7.5
34              Irlande              56.043956                        7.0
35             Danemark              57.142857                        7.6
36           États-Unis              60.439560                        6.9
37              Norvège              81.318681                        7.6
38               Suisse              87.912088                        7.5
39           Luxembourg             110.989011                        6.9

In [259]:
sample_data = sample_data.rename(columns={'Country': 'Noms pays'})

In [260]:
sample_data

              Noms pays  PIB par habitant en €  indicateur du vivre mieux
0        Afrique du Sud               5.494505                        4.7
1              Colombie               6.593407                        6.3
2                Brésil               8.791209                        6.4
3                Russie               9.890110                        5.8
4               Turquie               9.890110                        5.5
5               Mexique               9.890110                        6.5
6               Pologne              13.186813                        6.1
7               Hongrie              13.186813                        5.6
8              Lettonie              14.285714                        5.9
9                 Chili              14.285714                        6.5
10             Lituanie              15.384615                        5.9
11  République Slovaque              16.483516                        6.2
12              Estonie              18.681319                        5.7
13   République Tchèque              18.681319                        6.7
14                Grèce              19.780220                        5.4
15             Portugal              20.879121                        5.4
16             Slovénie              21.978022                        5.9
17              Espagne              27.472527                        6.3
18                Corée              29.670330                        5.9
19               Italie              31.868132                        6.0
20                Japon              35.164835                        5.9
21               Israël              38.461538                        7.2
22               France              40.659341                        6.5
23     Nouvelle-Zélande              40.659341                        7.3
24            Allemagne              43.956044                        7.0
25             Belgique              43.956044                        6.9
26             Finlande              45.054945                        7.6
27             Pays-Bas              47.252747                        7.4
28               Canada              47.252747                        7.4
29             Autriche              47.252747                        7.1
30          Royaume-Uni              47.252747                        6.8
31                Suède              53.846154                        7.3
32            Australie              54.945055                        7.3
33              Islande              54.945055                        7.5
34              Irlande              56.043956                        7.0
35             Danemark              57.142857                        7.6
36           États-Unis              60.439560                        6.9
37              Norvège              81.318681                        7.6
38               Suisse              87.912088                        7.5
39           Luxembourg             110.989011                        6.9

In [261]:

'''#import important libraries
from urllib.request import urlopen   
import pandas as pd
import re
import numpy as np
import matplotlib.pyplot as plt
import requests
import time
import datetime
import urllib.request as request
import json

import mysql.connector
from mysql.connector import errorcode
import pymysql
from sqlalchemy import create_engine'''

'#import important libraries\nfrom urllib.request import urlopen   \nimport pandas as pd\nimport re\nimport numpy as np\nimport matplotlib.pyplot as plt\nimport requests\nimport time\nimport datetime\nimport urllib.request as request\nimport json\n\nimport mysql.connector\nfrom mysql.connector import errorcode\nimport pymysql\nfrom sqlalchemy import create_engine'

In [262]:
sample_data.to_csv('oecd_pib_db.csv')

In [108]:
#establish the database connection, create a database and handle exceptions/errors
#create try - catch to catch all errors using the errors.Error exception
'''def create_database_and_connect_to_mysql():
    
    try:
        con = mysql.connector.connect(host='localhost:3306', user='root', passwd='1234')
        
        db_cursor = con.cursor(buffered=True)

        #create a database
        db_cursor.execute('CREATE DATABASE IF NOT EXISTS oecd_pib')
    except mysql.connector.Error as err:
        if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
            print("Error with user name or password")
        elif err.errno == errorcode.ER_BAD_DB_ERROR:
            print("Database does not exist or database name Error")
        else:
            print(err)
    
    return db_cursor, con


create_database_and_connect_to_mysql()'''

'def create_database_and_connect_to_mysql():\n    \n    try:\n        con = mysql.connector.connect(host=\'localhost:3306\', user=\'root\', passwd=\'1234\')\n        \n        db_cursor = con.cursor(buffered=True)\n\n        #create a database\n        db_cursor.execute(\'CREATE DATABASE IF NOT EXISTS oecd_pib\')\n    except mysql.connector.Error as err:\n        if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:\n            print("Error with user name or password")\n        elif err.errno == errorcode.ER_BAD_DB_ERROR:\n            print("Database does not exist or database name Error")\n        else:\n            print(err)\n    \n    return db_cursor, con\n\n\ncreate_database_and_connect_to_mysql()'

In [109]:
#check if the database was created
'''def check_databases():
    cur, conn = create_database_and_connect_to_mysql()
   
    #show all databses 
    cur.execute("SHOW DATABASES")
    for x in cur:
        print(x)
                        
check_databases()'''

'def check_databases():\n    cur, conn = create_database_and_connect_to_mysql()\n   \n    #show all databses \n    cur.execute("SHOW DATABASES")\n    for x in cur:\n        print(x)\n                        \ncheck_databases()'